@import "./utils/_breakpoint";
@import "./utils/common";
.postsContainer {
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
    .post {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @include mq(mmd) {
            flex-direction: column;
        }
        figure {
            position: relative;
            aspect-ratio: 16/9;
            @include mq(md) {
                width: min(320px, 24vw);
            }
            @include mq(mmd) {
                width: 100%;
            }
        }
        .content {
            flex: 1;
            @include mq(lg) {
                margin-left: 40px;
            }
            @include mq(md) {
                margin-left: 20px;
            }
            @include mq(mmd) {
                margin-top: 20px;
            }
            h2 {
                margin-top: 0.5em;
                font-size: var(--small-heading3);
                font-weight: 400;
            }
            >a {
                width: 300px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}