.postsGridContainer {
  margin-top: var(--space-md);
  margin-bottom: var(--space-lg);
  .post {
    h2 {
      margin-top: 0.5em;
      font-size: var(--small-heading3);
      font-weight: 400;
    }
    figure {
      position: relative;
      aspect-ratio: 16/9;
    }
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}
